@page
@model P1Test.Web.Pages.Firms.IndexModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>Firm Summary Page</title>
</head>
<body>
    <h2>Firm Summary</h2>

    <table border="1">
        <thead>
            <tr>
                <th>Firm ID</th>
                <th>Name</th>
                <th>Currency</th>
                <th>Status</th>
                <th>Client Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var firm in Model.FirmSummary.PortFolios)
            {
            <tr>
                    <td>@firm.FirmId</td>
                    <td>@firm.Name</td>
                    <td>@firm.Currency</td>
                    <td>@firm.Status</td>
                    <td>@firm.ClientType</td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>